/* Estilo para facturame */
/* Mixins */
/* General Rules */
/* line 19, ../scss/style.scss */
.clearfix {
  clear: both;
}

/* line 23, ../scss/style.scss */
body {
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: normal;
  color: #404040;
  background: #f6f6f6;
  height: 100%;
  font-size: 14px;
  border-top: 4px solid #cfcfcf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, ../scss/style.scss */
h1 {
  color: #777;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  float: left;
  text-indent: -9000px;
  width: 160px;
  height: 36px;
  background: url(../images/snappybill-logo.svg) no-repeat;
}

/* line 48, ../scss/style.scss */
h2 {
  font-weight: 400;
  color: #a7a7a7;
  margin-top: 18px;
}

/* line 55, ../scss/style.scss */
h3 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #171a1c;
}

/* line 62, ../scss/style.scss */
a {
  text-decoration: none;
}
/* line 64, ../scss/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 69, ../scss/style.scss */
.noborder {
  border: none;
}

/* TABLE */
/* line 75, ../scss/style.scss */
table {
  position: relative;
  width: 100%;
}
/* line 79, ../scss/style.scss */
table thead {
  border-bottom: 1px solid #959595;
}
/* line 82, ../scss/style.scss */
table thead th {
  text-align: right;
  width: 13%;
  font-weight: 600;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  padding-bottom: 18px;
}
/* line 89, ../scss/style.scss */
table thead th:last-child {
  border-right: none;
}
/* line 92, ../scss/style.scss */
table thead th.description {
  width: 60%;
  text-align: left;
}
/* line 102, ../scss/style.scss */
table td {
  text-align: right;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-right: 20px;
  vertical-align: middle;
}
/* line 110, ../scss/style.scss */
table td.add {
  float: left;
}
/* line 113, ../scss/style.scss */
table td span {
  display: inline-block;
  padding-bottom: 12px;
}
/* line 119, ../scss/style.scss */
table input {
  font-family: Open Sans, Helvetica, sans-serif;
  display: inline;
  white-space: nowrap;
  border: 1px solid #999;
  text-align: right;
  float: right;
  width: 98%;
  padding-top: 0 !important;
  width: 80%;
}
/* line 128, ../scss/style.scss */
table input.description {
  text-align: left;
  float: left;
  width: 98%;
}
/* line 133, ../scss/style.scss */
table input:before {
  content: attr(value);
}

/* RULES */
/* line 145, ../scss/style.scss */
.bold {
  font-weight: 600;
}

/* line 148, ../scss/style.scss */
.iva, .irpf {
  width: 40% !important;
}

/* line 152, ../scss/style.scss */
.tax {
  color: #ccc;
  padding-right: 10px;
}

/* line 156, ../scss/style.scss */
.container {
  width: 95%;
  /*1000px*/
  max-width: 1000px;
  margin: 0 auto;
}

/* line 163, ../scss/style.scss */
.left {
  float: left;
}

/* line 167, ../scss/style.scss */
.right {
  float: right;
}

/* line 175, ../scss/style.scss */
a.add-row, a.add_tax {
  color: #ccc;
  font-weight: 600;
  text-align: left;
  float: left;
  line-height: 10px;
}
/* line 182, ../scss/style.scss */
a.add-row:hover, a.add_tax:hover {
  color: #2c79ec;
  text-decoration: none;
}

/* line 187, ../scss/style.scss */
a.add_tax {
  position: absolute;
  width: 140px;
  right: 122px;
  bottom: 70px;
  text-align: right;
}

/* line 195, ../scss/style.scss */
#page-container {
  width: 80%;
  background: white;
  margin-bottom: 10px;
  float: left;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

/* line 208, ../scss/style.scss */
#main {
  padding: 40px;
  overflow: hidden;
}

/* line 214, ../scss/style.scss */
header {
  overflow: hidden;
}
/* line 217, ../scss/style.scss */
header img {
  float: left;
}

/* line 223, ../scss/style.scss */
header fieldset {
  float: right;
  width: 37.5%;
}
/* line 226, ../scss/style.scss */
header fieldset input#inv {
  font-size: 1.125em;
}

/* line 231, ../scss/style.scss */
fieldset#invoice-num {
  text-align: right;
}
/* line 234, ../scss/style.scss */
fieldset#invoice-num input {
  text-align: right;
  width: 100%;
  padding-right: 0;
}
/* line 239, ../scss/style.scss */
fieldset#invoice-num input#inv {
  font-size: 1.3125em;
}

/* line 244, ../scss/style.scss */
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 2em !important;
  font-weight: 200;
  width: 25% !important;
  float: left;
}

/* line 254, ../scss/style.scss */
#adress {
  overflow: hidden;
  margin: 50px 0 100px;
}

/* line 262, ../scss/style.scss */
fieldset input {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
/* line 268, ../scss/style.scss */
fieldset#from {
  width: 46%;
  float: left;
  margin-right: 5%;
}
/* line 274, ../scss/style.scss */
fieldset#billto {
  width: 46%;
  float: right;
}

/* line 282, ../scss/style.scss */
input[type="text"] {
  display: inline-block;
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  padding: 12px 0 12px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
/* line 298, ../scss/style.scss */
input[type="text"]:hover {
  border-bottom: 1px solid #2c79ec;
  background: #f6f8fa;
}

/* line 305, ../scss/style.scss */
textarea {
  padding: 20px;
  width: 93%;
  resize: vertical;
  border: none;
  background: #f8f8f8;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

/* line 315, ../scss/style.scss */
#pay {
  padding-bottom: 10px;
}

/* line 319, ../scss/style.scss */
#details {
  position: relative;
}

/* Add and Delete rows */
/* line 324, ../scss/style.scss */
.delete-row {
  height: 12px;
  width: 12px;
  color: #414141;
  background: url(../images/delete-icon.png) no-repeat 0 0px;
  text-indent: 9999px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}
/* line 334, ../scss/style.scss */
.delete-row.delete-row:hover {
  background: url(../images/delete-icon.png) no-repeat 0 -12px;
}

/* line 340, ../scss/style.scss */
.delete-tax {
  height: 12px;
  width: 12px;
  color: #414141;
  background: url(../images/delete-icon.png) no-repeat 0 0px;
  text-indent: 9999px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  top: -12px;
  position: relative;
}
/* line 353, ../scss/style.scss */
.delete-tax.delete-tax:hover {
  background: url(../images/delete-icon.png) no-repeat 0 -12px;
}

/* line 358, ../scss/style.scss */
.insert {
  position: absolute;
  left: -26px;
  margin-top: 3px;
}

/* MENU */
/* line 366, ../scss/style.scss */
.top {
  width: 80%;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 372, ../scss/style.scss */
.top hgroup {
  float: left;
  overflow: hidden;
}
/* line 375, ../scss/style.scss */
.top hgroup h2 {
  font-size: 1em;
  float: left;
  line-height: 20px;
  padding-left: 10px;
}

/* line 387, ../scss/style.scss */
ul.menu li {
  display: inline-block;
}

/* line 392, ../scss/style.scss */
select {
  float: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: #fff url(../images/arrow-down.png) no-repeat 90px 9px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 115px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  color: #404040;
  margin-right: 0;
  text-align: left;
}

/* SIDEBAR */
/* line 415, ../scss/style.scss */
.sidebar {
  float: left;
  margin: 0 0 0 2%;
  width: 16%;
  padding: 0;
}
/* line 423, ../scss/style.scss */
.sidebar h2 {
  float: none;
  text-transform: uppercase;
  margin: 40px 0 20px;
  font-size: 13px;
}

/* line 431, ../scss/style.scss */
#invoice {
  display: none;
}

/* line 435, ../scss/style.scss */
#invoices li {
  margin-bottom: 20px;
  margin-left: 15px;
  position: relative;
}

/* line 443, ../scss/style.scss */
.inv_title {
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  color: #2c79ec;
}
/* line 448, ../scss/style.scss */
.inv_title:hover {
  border-bottom: 1px dashed #2c79ec;
}

/* line 454, ../scss/style.scss */
.inv_date {
  font-size: 0.9em;
  color: #b4b4b4;
  display: inline-block;
  padding-top: 5px;
}

/* line 462, ../scss/style.scss */
.inv_total {
  font-size: 1em;
  color: #fff;
  display: inline-block;
  padding-top: 5px;
  background: #b4b4b4;
  padding: 4px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-left: 4px;
}

/* line 474, ../scss/style.scss */
.inv_delete {
  position: absolute;
  top: 4px;
  left: -17px;
  cursor: pointer;
}

/* line 481, ../scss/style.scss */
.blank {
  color: #b4b4b4;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 491, ../scss/style.scss */
input[type="submit"], input[type="button"] {
  font-family: Open Sans, Helvetica, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #cfcfcf;
  font-size: 1.145em;
  font-weight: 700;
  -webkit-appearance: none;
  padding: 12px 18px;
  border: none;
  color: #fff;
  width: 138px;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 42px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 509, ../scss/style.scss */
input[type="submit"]:hover, input[type="button"]:hover {
  cursor: pointer;
  background: #3274c0;
}

/* line 516, ../scss/style.scss */
#create_new {
  background: #cfcfcf url(../images/plus-icon.png) no-repeat 16px center;
}
/* line 519, ../scss/style.scss */
#create_new:hover {
  cursor: pointer;
  background-color: #49b556;
}

/* line 527, ../scss/style.scss */
#descargar {
  background: #cfcfcf url(../images/download-icon.png) no-repeat 16px center;
}
/* line 530, ../scss/style.scss */
#descargar:hover {
  cursor: pointer;
  background-color: #3274c0;
}

/* line 536, ../scss/style.scss */
#guardar {
  background: #cfcfcf url(../images/save-icon.png) no-repeat 16px center;
}
/* line 539, ../scss/style.scss */
#guardar:hover {
  cursor: pointer;
  background-color: #3274c0;
}

/* line 548, ../scss/style.scss */
.fb-like {
  float: right;
}

/* line 551, ../scss/style.scss */
.twitter-share-button {
  float: right;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 557, ../scss/style.scss */
footer {
  padding: 40px 0 40px;
  width: 80%;
}
/* line 561, ../scss/style.scss */
footer p {
  color: #a7a7a7;
}

/* line 567, ../scss/style.scss */
.total {
  font-size: 24px;
  font-weight: bold;
}

/* line 574, ../scss/style.scss */
.alert {
  background: #b55d49;
  padding: 14px;
  opacity: .9;
  text-align: center;
}
/* line 579, ../scss/style.scss */
.alert p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  display: inline-block;
}
/* line 586, ../scss/style.scss */
.alert a {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  margin-left: 20px;
  line-height: 10px;
  background: url(../images/delete-icon-white.png) no-repeat 0 0px;
  height: 12px;
  width: 12px;
  text-indent: -9999px;
}
/* line 597, ../scss/style.scss */
.alert a:hover {
  opacity: .5;
}

/*-------------------------------------
------------ MEDIA QUERIES ------------
-------------------------------------*/
@media screen and (max-width: 800px) {
  /* line 609, ../scss/style.scss */
  .sidebar {
    float: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  /* line 615, ../scss/style.scss */
  #page-container {
    width: 100%;
    float: none;
  }

  /* line 622, ../scss/style.scss */
  fieldset#from {
    width: 100%;
    float: none;
  }
  /* line 628, ../scss/style.scss */
  fieldset#billto {
    width: 100%;
    float: none;
  }
}
